@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Alegreya:wght@400;500;700&family=Montserrat:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1440px;
    background-color: #1A1A1A;
}
.container{
    max-width: 1200px;
    margin-left: 120px;
    margin-right: 120px;
}
h1{
    font-family: 'Alegreya' sans-serif;
    font-weight: 500;
    font-size: 72px;
    line-height: 72px;
    color: white;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
ul{
    list-style: none;
}


/* Header start */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .3s linear;
    padding-bottom: 20px;
    z-index: 999;
}

.header-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 397px;
    padding: 27px 164px 37px 164px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #252525;
    opacity: .75;
    background-size: cover;
}
.nav-items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-top: 13px;
}
.nav-items_item-link:hover, .nav-items_item-link:focus{
    transition: .03s;
    color: #34C759;
}
.header-wrapper_logo-link{
    font-family: 'Alegreya' sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 14px;
    color: #34C759;
}
/* .color{
    color:#34C759 ;
} */

/* Header end */


/* main_offer start */


.main_offer{
    background-image: url(../assets/images/main_offer.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    padding-bottom: 391px;
    /* padding: 139px 150px 185px 150px; */
    padding: 130px 0 185px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.main_offer-wrapper_text-title{
    margin-bottom: 60px;
}
.main_offer-wrapper_text-desc{
    display: flex;
    flex-wrap: wrap;
    gap: 145px;
    justify-content: center;
    color: white;
   
}
.text-desc_hours-title{
    font-family: 'Alegreya' serif;
    font-weight: 500px;
    font-size: 16px;
    line-height: 30px;
}
.hours-icon{
    margin-bottom: 16px;
}
.text-desc_hour-explain{
    opacity: .50;
    text-transform: uppercase;
}


/* main_offer end */


/* business_box start */

.business-container{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.business-wrapper{
    width: 100%;
    height: 600px;
    background: linear-gradient(180deg, #1A1A1A 0%, #2C2C2C 100%);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.business-items_item-name{
    color: white;
    padding-top: 12px;
}
.business-items_item-name_desc{
    color: #737373;
    border-bottom: 2px solid #34C759;
    padding-bottom: 12px;
}
.business-title{
    width: 100%;
    color: #34C759;
    font-family: 'Montserrat' sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    padding-left: 458px;
    padding-top: 40px;
    
}
.business-pic{
    height: 307px;
}


/* Business end */


/* Information start */


.information{
    height: 626px;
    margin-bottom: 61px;
}
.information-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 172px;
    justify-content: center;
    padding-top: 380px;
    text-align: center;
}
.information-icon_desc{
    color: white;
}
.information-img_pic{
    margin-bottom: 20px;
}

/* Infornation end */


/* Sladers start */


.sladers-wrapper{
    background-image: url(../assets/images/food-3309418_1920\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 554px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 179px;
    position: relative;
    margin-bottom: 80px;
}
.sladers-wrapper::after{
    content: '';
    width: 75px;
    height: 15px;
    background-image: url(../assets/icons/slader.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    bottom: 20px;
    left: 50%;
}
.sladers-info{
    max-width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 508px;
}
.sladers-title{
    margin-bottom: 40px;
    color: #34C759;
}
.sladers-desc{
   color: white;
   margin-bottom: 60px;
}
.sladers-btn{
    padding: 9px 47px;
    background-color: transparent;
    border-radius: 100px;
    width: 160px;
    height: 32px;
    border: 2px solid #34C759;
    padding: 9px 47px;
}
.sladers-btn:hover, .sladers-btn:focus{
    transform: scale(1.1);
}
.sladers-btn_link{
    color: #34C759;
}
.sladers-arrow:hover, .sladers-arrow:focus{
    cursor: pointer;
    opacity: .75;
    transform: scale(.90);
}


/* Sladers end */


/* Calendar start */


.calendar-wrapper{
    display: flex;
    flex-wrap: wrap;
    height: 542px;
    justify-content: center;
    margin-bottom: 82px;
}
.calendar-title{
    margin-bottom: 82px;
    position: relative;
    color: white;
}
.calendar-title::after{
    display: block;
    content: '';
    width: 60px;
    height: 2px;
    background: #34C759;
    position: absolute;
    border: 0;
    left: 40%;
    transform: translateY(20px);
}
.calendar-sections{
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
    justify-content: flex-end;
    
}
.calendar-event{
    border: 1px solid transparent;
    background-color: #252525;
    width: 690px;
    height: 151px;
    padding: 20px 38px 0 20px;

}
.calendar-hour, .calendar-hour-2{
    margin-bottom: 12px;
    color: #B3B3B3;
}
.event-title, .event-title-2{
    margin-bottom: 8px;
    color: white;
    font-weight: 700;
    font-family: 'Alegreya' sans-serif;
    font-size: 18px;
}
.event-desc, .event-desc-2{
    color: white;
    font-family: 'Montserrat' sans-serif;
    font-size: 14px;
    line-height: 17px;
}
.calendar-event-2{
    background-image: url(../assets/images/food-3309418_1920\ 1.jpg);
    opacity: .75;
    background-repeat: no-repeat;
    width: 690px;
    height: 151px;
    padding: 20px 38px 0 20px;
    transform: translateY(-180%);
}
.event-link{
    color: #34C759;
}
.calendar-event_link{
    margin-left: 500px;
    transform: translateY(-350%);
}


/* Calendar end */


/* Best start */

.best{
    margin-bottom: 80px;
}
.best-wrapper{
    max-width: 1014px;
    margin: 0 auto;
}
.best-title{
    text-align: center;
    margin-bottom: 82px;
    font-size: 36px;
    color: white;
}
.best-title::after{
    display: block;
    content: '';
    width: 60px;
    height: 2px;
    background: #34C759;
    position: absolute;
    border: 0;
    left: 47%;
    transform: translateY(20px);
}
.best-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 126px;
    justify-content: space-between;
}
.best-card_title{
    font-family: 'Alegreya';
    font-weight: 400px;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin-bottom: 3px;
}
.best-card_desc{
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
}
.best-card_pic{
    margin-bottom: 24px;
    padding-left: 20%;
}
