@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Alegreya:wght@400;500;700&family=Montserrat:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1440px;
}
.container{
    max-width: 1200px;
    margin-left: 120px;
    margin-right: 120px;
}
h1{
    font-family: 'Alegreya' sans-serif;
    font-weight: 500;
    font-size: 72px;
    line-height: 72px;
    color: white;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
ul{
    list-style: none;
}


/* Header start */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .3s linear;
    padding-bottom: 20px;
    z-index: 999;
}

.header-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 397px;
    padding: 27px 164px 37px 164px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #252525;
    opacity: .75;
    background-size: cover;
}
.nav-items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-top: 13px;
}
.nav-items_item-link:hover, .nav-items_item-link:focus{
    transition: .03s;
    color: #34C759;
}
.header-wrapper_logo-link{
    font-family: 'Alegreya' sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 14px;
    color: #34C759;
}
/* .color{
    color:#34C759 ;
} */

/* Header end */


/* main_offer start */


.main_offer{
    background-image: url(/assets/images/main_offer.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    padding-bottom: 391px;
    /* padding: 139px 150px 185px 150px; */
    padding: 130px 0 185px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}
.main_offer-wrapper_text-title{
    margin-bottom: 60px;
}
.main_offer-wrapper_text-desc{
    display: flex;
    flex-wrap: wrap;
    gap: 145px;
    justify-content: center;
    color: white;
   
}
.text-desc_hours-title{
    font-family: 'Alegreya' serif;
    font-weight: 500px;
    font-size: 16px;
    line-height: 30px;
}
.hours-icon{
    margin-bottom: 16px;
}
.text-desc_hour-explain{
    opacity: .50;
    text-transform: uppercase;
}


/* main_offer end */


/* business_box start */

.business-container{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.business-wrapper{
    width: 100%;
    height: 582px;
    background: linear-gradient(180deg, #1A1A1A 0%, #2C2C2C 100%);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
}
.business-items{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
}
.business-title{
    width: 100%;
    color: #34C759;
    font-family: 'Montserrat' sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    padding: 40px 458px 80px 458px;
    
}